# Intro python data science
## Pr치ctica 09: exportar dataframe

Vamos a ver c칩mo exportar dataframe de pandas:
* Punto 1: En formato excel
* Punto 2: En formato csv

# Punto 0:

In [1]:
# importar pandas
import pandas as pd

In [2]:
# datos de RRSS 2020
fbk = ['Facebook', 2449, True, 2006]
twt = ['Twitter', 339, False, 2006]
ig = ['Instagram', 1000, True, 2010]
yt = ['YouTube', 2000, False, 2005]
lkn = ['LinkedIn', 663, False, 2003]
wsp = ['WhatsApp', 1600, True, 2009]

In [3]:
lista_rrss = [fbk, twt, ig, yt, lkn, wsp]

In [4]:
# crear dataframe a partir de listas
df_rrss=pd.DataFrame(lista_rrss,
            columns = ['Nombre', 'Cantidad', 'ES_FBK', 'Anio'])
df_rrss

      Nombre  Cantidad  ES_FBK  Anio
0   Facebook      2449    True  2006
1    Twitter       339   False  2006
2  Instagram      1000    True  2010
3    YouTube      2000   False  2005
4   LinkedIn       663   False  2003
5   WhatsApp      1600    True  2009

# Punto 1:

In [5]:
# Exportar df a excel
df_rrss.to_excel('data_rrss.xlsx')

In [6]:
# Exportar df a excel sin indices
df_rrss.to_excel('data_rrss_noind.xlsx', index=False)

# Punto 2:

In [7]:
# Expotar df a csv
df_rrss.to_csv('data_rrss.csv')

In [8]:
# Expotar df a csv sin indices
df_rrss.to_csv('data_rrss_noind.csv', index=False)

In [9]:
# Expotar df a csv sin indices y con puntos y comas
df_rrss.to_csv('data_rrss_noind_pc.csv', index=False, sep=';')

In [ ]:
# Recomendacion para codificaci칩n

In [10]:
df_rrss.to_csv('data_rrss_utf8.csv', encoding='utf-8')

# Gracias!
## Espero que te lleves algo 칰til de este notebook 游

Para m치s videos de programaci칩n para ciencia de datos

https://www.youtube.com/c/RafaGonzalezGouveia/