# Intro python data science
## Pr치ctica 02: Listas

Vamos a ver:
* Punto 1: crear listas con diferentes tipos de datos
* Punto 2: seleccionar elementos de listas
* Punto 3: agregar/eliminar elementos de listas

Extra: c칩mo crear dataframe de una lista

# Punto 1:

In [1]:
# crear listas con diferentes tipos de datos

# structure : | nombre (string) | millones_usuarios (int) | pertenece_fbk (bool) |

In [ ]:
ejemplo = ['nombre', 1258, False]

In [2]:
# datos de RRSS 2020
fbk = ['Facebook', 2449, True]
twt = ['Twitter', 339, False]
ig = ['Instagram', 1000, True]
yt = ['YouTube', 2000, False]
lkn = ['LinkedIn', 663, False]
wsp = ['WhatsApp', 1600, True]

fuente: https://www.juancmejia.com/marketing-digital/estadisticas-de-redes-sociales-usuarios-de-facebook-instagram-linkedin-twitter-whatsapp-y-otros-infografia/

# Punto 2:

In [ ]:
# seleccionar elementos de listas

In [18]:
# los : pueden ahorrar conteos
nombres_rrss = ['Facebook', 'Twitter', 'Instagram', 'YouTube', 'LinkedIn', 'WhatsApp']

In [67]:
# el conteo empieza en cero. Nomrbe completo de Facebook
nombres_rrss[0]

'Facebook'

In [71]:
# seleccionar dos elementos
[nombres_rrss[2], nombres_rrss[4]]

['Instagram', 'LinkedIn']

In [22]:
# utilizar los dos puntos : para seleccionar varios elementos seguidos
nombres_rrss[1:3]

['Twitter', 'Instagram']

In [73]:
# seleccionar desde atras
twt[-1]

2006

In [76]:
twt[-2]

False

# Punto 3:

In [ ]:
# agregar elementos de listas

In [ ]:
fbk.append(2006)

In [77]:
fbk

['Facebook', 2449, True, 2006]

In [44]:
twt.append(2006)
ig.append(2010)
yt.append(2005)
lkn.append(2003)
wsp.append(2009)

fuente https://interestingengineering.com/a-chronological-history-of-social-media

In [52]:
# eliminar elementos de listas

In [63]:
fbk.append('error')

In [64]:
fbk

['Facebook', 2449, True, 2006, 'error']

In [65]:
fbk.remove('error')

In [66]:
fbk

['Facebook', 2449, True, 2006]

# Extra: c칩mo crear dataframe de una lista
(m치s en pr칩ximos v칤deos)

In [46]:
# creando listas con todas las RRSS
lista_rrss = [fbk, twt, ig, yt, lkn, wsp]

In [47]:
# mostrando en notebook
lista_rrss

[['Facebook', 2449, True, 2006],
 ['Twitter', 339, False, 2006],
 ['Instagram', 1000, True, 2010],
 ['YouTube', 2000, False, 2005],
 ['LinkedIn', 663, False, 2003],
 ['WhatsApp', 1600, True, 2009]]

In [51]:
# adelanto a DataFrames (pr칩ximas clases)
import pandas as pd

pd.DataFrame(lista_rrss, columns = ['Nombre', 'Cantidad', 'ES_FBK', 'A침o'])

      Nombre  Cantidad  ES_FBK   A침o
0   Facebook      2449    True  2006
1    Twitter       339   False  2006
2  Instagram      1000    True  2010
3    YouTube      2000   False  2005
4   LinkedIn       663   False  2003
5   WhatsApp      1600    True  2009

# Gracias!
## Espero que te lleves algo 칰til de este notebook 游

Para m치s videos de programaci칩n para ciencia de datos

https://www.youtube.com/c/RafaGonzalezGouveia/

Si quieres realizar alguno de los cursos online de pago, ve a:

https://cursos.gonzalezgouveia.com